.info {
    background-color: white;
    color: #01469B;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

.info p {
    font-size: 12px;
    text-align: center;
}

.info img {
    width: 70px;
    display: block;
    margin: 0 auto;
}